{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list" id="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                <div class="list-group" id="mhs-list">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mahasiswa_list %}
                            <a class="list-group-item clearfix">
                                <div style="width:100%">{{ mahasiswa.nama }} ({{ mahasiswa.npm }})</div>
                                <span class="pull-right">
                        <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                            Tambah sebagai teman
                        </span>
                    </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="loading">
                Loading...
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready (function(){
        $('#loading').hide();
    })
    var addFriend = function(nama, npm) {
        $.ajax({
            method: "POST",
            url: "{% url 'lab-7:add-friend' %}",
            data: {name: nama, npm: npm},
            success : function (friend) {
                if(friend.status == 200){
                    html = '<a class="list-group-item clearfix">' +
                        friend.friend_name +
                        '</a>';
                    $("#friend-list").append(html)
                } else {
                    alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
                }
            },
            error : function (error) {
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };
    $("#add-friend").on("submit", function () {
        name = $("#field_name").val()
        npm = $("#field_npm").val()
        addFriend(name, npm)
        event.preventDefault();
    });
    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}' ,
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });
    const win = $(window);
    var page = 2;
    var progress = true;
    win.scroll(function(){
        if(win.scrollTop() + win.height() > $(document).height()-10 && progress){
            progress = false;
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-mahasiswa" %}',
                data: {
                    'page':page,
                },
                dataType: 'json',
                beforeSend: function () {
                    $("#loading").show();
                },
                success: function (data) {
                    // bug: double request
                    // data.page == page is to prevent same data added twice because double request 
                    if(data.status == 200 && data.page == page){
                        
                        lst_mhs = data.mahasiswa;
                        for(var i=0; i < lst_mhs.length; ++i){
                            mhs = lst_mhs[i];
                            
                            html = '<a class="list-group-item clearfix">'+ mhs.nama +
                                    ' ('+ mhs.npm +')';
                            html += '<span class="pull-right">\
                        <span class="btn btn-xs btn-default" onClick="addFriend($(mhs.nama),$(mhs.npm))">\
                            Tambah sebagai teman\
                        </span>\
                    </span></a>'
                            
                            $('#mhs-list').append(html);
                        }

                        page++;
                    }
                },
                complete: function () {
                    progress = true;
                    $('#loading').hide();
                }
            })
        }
    })
</script>
{% endblock %}